<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{processForm}" th:object="${student}" method="post">

        First name: <input type="text" th:field="*{firstName}"/>

        <br/><br/>

        Last name: <input type="text" th:field="*{lastName}" />

        <input type="submit" value="Submit"/>

    </form>
</body>
</html>