<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Save Customer</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-customer-style.css}" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>
    <div id="container">
        <div id="content">
            <h3>Save Customer</h3>

            <form action="" th:action="@{saveCustomer}" th:object="${customer}" method="post">
                <p> firstName : <input type="text" th:field="*{firstName}" /></p>
                <p> lastName : <input type="text" th:field="*{lastName}" /></p>
                <p> email : <input type="text" th:field="*{email}" /></p>
                <p> <input type="submit" value="Save" class="save"/></p>
            </form>

            <div style="clear: both;"></div>
            <p>
                <a href="/customer/list">Back to List</a>
            </p>
        </div>
    </div>
</body>
</html>