<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>List Customers</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/add-customer-style.css}" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>
    <div id="container">
        <div id="content">
            <input type="button" value="Add Customer"
                   onclick="window.location.href='showFormForAdd'; return false;"
                   class="add-button"/>
            <table>
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>email</th>
                </tr>
                <tr th:each="prod : ${customer}">
                    <td th:text="${prod.getId()}"></td>
                    <td th:text="${prod.getFirstName()}"></td>
                    <td th:text="${prod.getLastName()}"></td>
                    <td th:text="${prod.getEmail()}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>